.container {
  width: 100%;
  height: 100%;
  background-color: #111111;
  background-image: linear-gradient(
    32deg,
    rgba(8, 8, 8, 0.74) 30px,
    transparent
  );
  background-size: 60px 60px;
  background-position: -5px -5px;
}

ion-icon{
  position:fixed;
  margin: 5%;
  margin-top: 35%;
  margin-left: 47%;
  width: 20%;
  height: 50px;
  z-index: -1;
}
input{
  z-index: 1;
  transform: rotate(-90deg);
  margin: 0%;
}
.slider {
  margin-top: 40%;
  /* slider */
  --slider-width: 300%;
  --slider-height: 300%;
  --slider-bg: rgb(82, 82, 82);
  --slider-border-radius: 999px;
  /* level */ 
  --level-transition-duration: .1s;
  /* icon */
  --icon-color: var(--slider-bg);
  --icon-size: 30px;
}
.slider {
  cursor: pointer;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
  -ms-flex-direction: row-reverse;
  flex-direction: row-reverse;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.slider .level {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: var(--slider-width);
  height: var(--slider-height);
  background: var(--slider-bg);
  overflow: hidden;
  border-radius: var(--slider-border-radius);
  -webkit-transition: height var(--level-transition-duration);
  -o-transition: height var(--level-transition-duration);
  transition: height var(--level-transition-duration);
  cursor: inherit;
}
.slider .level::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 0px;
  height: 0;
  -webkit-box-shadow: -100% 0 0 100% var(--level-color);
  box-shadow: -400px 0 0 400px var(--level-color);
}